@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "normalize";
@import "myVariables";

* {
    border: 1px solid red;
}

#main-title {
    text-align: center;
    font-size: $h1FontSize !important;
}